<% content_for(:page_header) do %>
  <%= @config_element.key %>
<% end %>
<% content_for :panel_heading do %>Config Element: <%= @config_element.key %><% end %>

<p>
  <strong>Key:</strong>
  <%= @config_element.key %>
</p>

<p>
  <strong>Value:</strong>
  <%= @config_element.value %>
</p>
