<% content_for(:page_header) do %>
  <%= "About" %>
<% end %>
<% content_for :panel_heading do %>About<% end %>

<p>
  Proof of concept of an admin panel to create and automate tests with selenium.
</p>
